<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mis418group7ConnectionString" connectionString="Data Source=bussql.bus.ualberta.ca;Initial Catalog=mis418group7;User ID=mis418group7;Password=wP6uw8daT"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.aspx"/>
        <!-- foo.htm is now the default document  -->
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="mis418group7ConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="mis418group7ConnectionString" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="mis418group7ConnectionString" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
  </system.web>

</configuration>